/* COMMON */
/* * {
  border: 1px solid white;
} */
body {
  background-color: #141414;
  color: white;
  position: relative;
}

header {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 10px;
  transition: all 0.8s;
}

.headers {
  position: relative;
  height: fit-content;
}

.inner {
  width: 94%;
  margin: 0 auto;
}

.btn {
  width: 101px;
  height: 38px;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 15px;
}

.btn i {
  margin-right: 10px;
}

.animate {
  transition: 0.5s ease-out;
}

/* HEADER */
.yego_video {
  position: relative;
  width: 100%;
  height: 713px;
}

.control_video {
  position: absolute;
  top: 125px;
  left: 40px;
}

.control_video .control_container {
  margin-bottom: 10px;
}

.control_video img {
  width: 456px;
  height: 194px;
  margin-bottom: 10px;
}

.control_video p {
  width: 456px;
  height: 60px;
  font-size: 18px;
  margin-bottom: 10px;
}

.control_btn1 {
  display: flex;
}

.play_btn_header {
  color: black;
  margin-right: 15px;
}

.info_btn_header {
  width: 131px;
  background-color: rgba(77, 76, 76, 0.7);
}

.headers .control_btn2 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  position: absolute;
  top: 400px;
  right: 0;
  display: flex;
  align-items: center;
}

.headers .control_btn2 .fa-volume-up {
  font-size: 25px;
  margin-right: 20px;
  border: 3px solid white;
  border-radius: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.headers .control_btn2 .fa-volume-mute {
  display: none;
  font-size: 25px;
  margin-right: 20px;
  border: 3px solid white;
  border-radius: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.headers .control_btn2 .year {
  width: 178px;
  display: flex;
  padding-left: 10px;
  height: 40px;
  align-items: center;
  border-left: 3px solid white;
  background-color: rgba(70, 70, 70, 0.7);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header .inner {
  height: 60px;
  display: flex;
  align-items: center;
}
header .logo {
  background-image: url("../main_logo2.png");
  width: 110px;
  height: 50px;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

/* header::before {
  content: "";
  position: absolute;
  height: 73px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4) 15%,
    rgba(0, 0, 0, 0)
  );
} */

header .menu_bar {
  padding-top: 5px;
  padding-left: 15px;
}

header .menu_list {
  display: flex;
  font-size: 14px;
}

header .menu_bar li {
  padding: 10px;
}

header .menu_icon {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: row-reverse;
  padding: 5px;
}

header .menu_icon i {
  margin-right: 25px;
  font-size: 19px;
}

header .menu_icon .fa-caret-up {
  transform: rotate(180deg);
  font-size: 14px;
}

.user_face {
  background-image: url("../1.jpeg");
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  margin-right: 5px;
}

.user_play_data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  top: 71%;
  left: 0px;
  padding-top: 50px;
  overflow: hidden;
}

.user_play_data p {
  font-size: 19px;
  margin-bottom: 5px;
  font-weight: 500;
  padding-bottom: 5px;
}

.user_play_data img {
  width: 231px;
  border-radius: 5px;
  margin-right: 5px;
  display: block;
  position: relative;
}

.user_play_data .hover_container .movie_detail {
  background-color: #1c1c1c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-10px);
  position: absolute;
  top: 135px;
  left: 0;
  width: 98%;
  margin-right: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.user_play_data .only_container .movie_detail {
  background-color: #1c1c1c;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-10px);
  position: absolute;
  top: 450px;
  left: 0;
  width: 98%;
  margin-right: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.user_play_data .movie_detail i {
  font-size: 20px;
  transition: all 1s 1s;
}

.user_play_data .movie_detail i:last-child {
  margin-left: 55px;
}

.user_play_data .movie_detail p {
  font-size: 15px;
  padding-top: 10px;
}

.user_play_data .movie_detail .detail_time {
  display: flex;
  align-items: center;
}

.user_play_data .movie_detail .time_rating {
  width: 100px;
  height: 1px;
  background-color: gray;
  margin-right: 10px;
}

.user_play_data .user_movie:hover {
  transform: scale(1.5);
  transition: all 1s;
  z-index: 200;
}

.user_play_data .only_movie:hover {
  transform: scale(1.4, 0.8);
  transition: all 1s;
  z-index: 200;
}

.user_play_data .rank_poster:hover {
  transform: scaleX(2);
  transition: all 1s;
}

.user_play_data i {
  font-size: 40px;
}

.user_play_data .before {
  align-items: center;
  justify-content: center;
  display: none;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.user_play_data .next {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0;
  right: 0;
  z-index: 10;
}

.user_play_data .before {
  transform: rotate(180deg);
}

.user_play_data .inner {
  width: 96%;
  margin: 50px 0;
  margin-top: 0;
  position: relative;
}

.show_ranking {
  display: flex;
}

.show_ranking .rank {
  width: 114px;
  height: 173px;
  transform: translate(25px);
}

.show_ranking .rank_poster {
  width: 114px;
  height: 173px;
}

.user_play_data .inner .user_container,
.kor_container,
.hot_container,
.only_container,
.replay_container,
.korjam_container,
.ani_container,
.komovie_container,
.ranking_container {
  display: flex;
}

/* FOOTER */
.user_play_data .footer {
  margin-top: 100px;
  width: 80%;
}

.footer .social_link {
  display: flex;
  font-size: 30px;
  color: #808080;
}

.footer .social_link i {
  margin-right: 25px;
}

.footer .other_link {
  font-size: 14px;
}

.footer .other_link ul {
  display: flex;
  flex-wrap: wrap;
}

.footer .other_link ul li {
  width: 250px;
  padding: 15px 0;
}

.footer .other_link ul a {
  text-decoration: none;
  color: #808080;
}

.footer .service_button {
  margin-top: 20px;
}

.footer .service_button a {
  text-decoration: none;
}

.footer .service_button p {
  font-size: 13px;
  padding: 7px;
  color: #808080;
  width: fit-content;
  border: 1px solid #545454;
}

.footer .copyRight {
  margin-top: 25px;
  font-size: 11px;
  color: #808080;
}

.footer .copyRight div {
  margin-top: 8px;
}
